<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.wifi.upgrade.modules.permissions.mapper.AbViewMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sim.wifi.upgrade.modules.permissions.model.AbViewMenu">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

</mapper>
