<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.wifi.upgrade.modules.permissions.mapper.DeviceStatesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sim.wifi.upgrade.modules.permissions.model.DeviceStates">
        <id column="id" property="id" />
        <result column="created_on" property="createdOn" />
        <result column="changed_on" property="changedOn" />
        <result column="device_instance_id" property="deviceInstanceId" />
        <result column="cpu_used" property="cpuUsed" />
        <result column="mem_used" property="memUsed" />
        <result column="wifi_state" property="wifiState" />
        <result column="wan_lan_state" property="wanLanState" />
        <result column="created_by_fk" property="createdByFk" />
        <result column="changed_by_fk" property="changedByFk" />
    </resultMap>

</mapper>
