<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.wifi.upgrade.modules.permissions.mapper.DictionarysMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sim.wifi.upgrade.modules.permissions.model.Dictionarys">
        <id column="id" property="id" />
        <result column="created_on" property="createdOn" />
        <result column="changed_on" property="changedOn" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="description" property="description" />
        <result column="created_by_fk" property="createdByFk" />
        <result column="changed_by_fk" property="changedByFk" />
    </resultMap>

</mapper>
