<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.wifi.upgrade.modules.permissions.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sim.wifi.upgrade.modules.permissions.model.User">
        <id column="id" property="id" />
        <result column="first_name" property="firstName" />
        <result column="last_name" property="lastName" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="active" property="active" />
        <result column="email" property="email" />
        <result column="last_login" property="lastLogin" />
        <result column="login_count" property="loginCount" />
        <result column="fail_login_count" property="failLoginCount" />
        <result column="created_on" property="createdOn" />
        <result column="changed_on" property="changedOn" />
        <result column="created_by_fk" property="createdByFk" />
        <result column="changed_by_fk" property="changedByFk" />
    </resultMap>

    <select id="getUserIdList" resultType="java.lang.Long">
        SELECT
            DISTINCT ar.user_id
        FROM
            role_resource rr
                LEFT JOIN user_role ar ON rr.role_id = ar.role_id
        WHERE rr.resource_id=#{resourceId}
    </select>
</mapper>
