<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.device.modules.mapper.DeviceUpgradeLogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sim.device.modules.model.DeviceUpgradeLogs">
        <id column="id" property="id" />
        <result column="device_id" property="deviceId" />
        <result column="auto_detection_flag" property="autoDetectionFlag" />
        <result column="manual_detection_flag" property="manualDetectionFlag" />
        <result column="local_upgrade_flag" property="localUpgradeFlag" />
        <result column="created_on" property="createdOn" />
    </resultMap>

</mapper>
