<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.device.modules.mapper.DeviceModelAttributesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sim.device.modules.model.DeviceModelAttributes">
        <id column="id" property="id" />
        <result column="model_id" property="modelId" />
        <result column="show_in_statistics" property="showInStatistics" />
        <result column="operator_device" property="operatorDevice" />
        <result column="sales_area" property="salesArea" />
        <result column="created_on" property="createdOn" />
        <result column="changed_on" property="changedOn" />
        <result column="created_by" property="createdBy" />
        <result column="changed_by" property="changedBy" />
    </resultMap>

</mapper>
