<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.wifi.device.mapper.DeviceRunningLogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sim.wifi.device.model.DeviceRunningLogs">
        <id column="id" property="id" />
        <result column="device_id" property="deviceId" />
        <result column="status" property="status" />
        <result column="upgrade_method" property="upgradeMethod" />
        <result column="running_time" property="runningTime" />
        <result column="created_on" property="createdOn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, device_id, status, upgrade_method, running_time, created_on
    </sql>

    <!-- 根据设备 id 查询设备运行信息 -->
    <select id="getDeviceRunningByDeviceId" parameterType="java.lang.Integer" resultType="com.sim.wifi.device.dto.DeviceRunningParam">
        select
        <include refid="Base_Column_List" />
        from device_running_logs
        where device_id = #{deviceId,jdbcType=INTEGER}
    </select>

</mapper>
