<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.wifi.device.mapper.DeviceInstancesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sim.wifi.device.model.DeviceInstances">
        <id column="id" property="id" />
        <result column="type_id" property="typeId" />
        <result column="model_id" property="modelId" />
        <result column="mac" property="mac" />
        <result column="sn" property="sn" />
        <result column="uuid" property="uuid" />
        <result column="created_on" property="createdOn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type_id, model_id, mac, sn, uuid, created_on
    </sql>

    <!-- 根据 mac 查询设备基本信息 -->
    <select id="selectDeviceByMac" parameterType="com.sim.wifi.device.model.DeviceInstances" resultType="com.sim.wifi.device.dto.DeviceBasicParam">
        select di.id as device_id, di.type_id, dt.name as type_name, di.model_id, dm.name as model_name, di.mac, di.sn, di.uuid
        from device_instances di
            inner join device_types dt on di.type_id = dt.id
            inner join device_models dm on di.model_id = dm.id
        where di.mac = #{mac,jdbcType=VARCHAR} and di.type_id = #{typeId,jdbcType=INTEGER} and di.model_id = #{modelId,jdbcType=INTEGER}
    </select>

    <!-- 根据 sn 查询设备基本信息 -->
    <select id="selectDeviceBySn" parameterType="com.sim.wifi.device.model.DeviceInstances" resultType="com.sim.wifi.device.dto.DeviceBasicParam">
        select di.id as device_id, di.type_id, dt.name as type_name, di.model_id, dm.name as model_name, di.mac, di.sn, di.uuid
        from device_instances di
            inner join device_types dt on di.type_id = dt.id
            inner join device_models dm on di.model_id = dm.id
        where di.sn = #{sn,jdbcType=VARCHAR} and di.type_id = #{typeId,jdbcType=INTEGER} and di.model_id = #{modelId,jdbcType=INTEGER}
    </select>

    <!-- 根据 uuid 查询设备基本信息 -->
    <select id="selectDeviceByUuid" parameterType="com.sim.wifi.device.model.DeviceInstances" resultType="com.sim.wifi.device.dto.DeviceBasicParam">
        select di.id as device_id, di.type_id, dt.name as type_name, di.model_id, dm.name as model_name, di.mac, di.sn, di.uuid
        from device_instances di
            inner join device_types dt on di.type_id = dt.id
            inner join device_models dm on di.model_id = dm.id
        where di.uuid = #{uuid,jdbcType=VARCHAR} and di.type_id = #{typeId,jdbcType=INTEGER} and di.model_id = #{modelId,jdbcType=INTEGER}
    </select>

</mapper>
