<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.wifi.device.mapper.DeviceUpgradeAttributesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sim.wifi.device.model.DeviceUpgradeAttributes">
        <id column="id" property="id" />
        <result column="type_id" property="typeId" />
        <result column="model_id" property="modelId" />
        <result column="status" property="status" />
        <result column="check_way" property="checkWay" />
        <result column="check_period" property="checkPeriod" />
        <result column="checked_period" property="checkedPeriod" />
        <result column="forced_upgrade" property="forcedUpgrade" />
        <result column="auto_upgrade_start" property="autoUpgradeStart" />
        <result column="auto_upgrade_end" property="autoUpgradeEnd" />
        <result column="auto_upgrade_condition" property="autoUpgradeCondition" />
        <result column="created_on" property="createdOn" />
        <result column="changed_on" property="changedOn" />
        <result column="created_by" property="createdBy" />
        <result column="changed_by" property="changedBy" />
    </resultMap>

</mapper>
