<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.device.modules.mapper.FirmwareUpgradeActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sim.device.modules.model.FirmwareUpgradeActivity">
        <id column="id" property="id" />
        <result column="firmware_id" property="firmwareId" />
        <result column="activity_limit_range" property="activityLimitRange" />
        <result column="activation_start_on" property="activationStartOn" />
        <result column="activation_end_on" property="activationEndOn" />
        <result column="online_days" property="onlineDays" />
        <result column="manual_detection_symbol" property="manualDetectionSymbol" />
        <result column="manual_detection_times" property="manualDetectionTimes" />
        <result column="last_detection_on" property="lastDetectionOn" />
        <result column="local_upgrade_symbol" property="localUpgradeSymbol" />
        <result column="local_upgrade_times" property="localUpgradeTimes" />
        <result column="last_upgrade_on" property="lastUpgradeOn" />
        <result column="created_on" property="createdOn" />
        <result column="changed_on" property="changedOn" />
        <result column="created_by" property="createdBy" />
        <result column="changed_by" property="changedBy" />
    </resultMap>

</mapper>
