<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.device.modules.mapper.StatDeviceVersionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sim.device.modules.model.StatDeviceVersion">
        <id column="id" property="id" />
        <result column="device_id" property="deviceId" />
        <result column="version" property="version" />
        <result column="version_update_on" property="versionUpdateOn" />
        <result column="online_days" property="onlineDays" />
        <result column="last_online_on" property="lastOnlineOn" />
        <result column="created_on" property="createdOn" />
        <result column="changed_on" property="changedOn" />
    </resultMap>

</mapper>
