<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.device.modules.mapper.StatDeviceOnlineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sim.device.modules.model.StatDeviceOnline">
        <id column="id" property="id" />
        <result column="device_id" property="deviceId" />
        <result column="recently_online_days" property="recentlyOnlineDays" />
        <result column="online_days" property="onlineDays" />
        <result column="seven_day_online_days" property="sevenDayOnlineDays" />
        <result column="thirty_day_online_days" property="thirtyDayOnlineDays" />
        <result column="created_on" property="createdOn" />
        <result column="changed_on" property="changedOn" />
    </resultMap>

</mapper>
