<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.wifi.firmware.mapper.FirmwaresMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sim.wifi.firmware.model.Firmwares">
        <id column="id" property="id" />
        <result column="model_id" property="modelId" />
        <result column="real_version" property="realVersion" />
        <result column="show_version" property="showVersion" />
        <result column="update_description" property="updateDescription" />
        <result column="status" property="status" />
        <result column="upgrade_type" property="upgradeType" />
        <result column="effect_on" property="effectOn" />
        <result column="upgrade_limit" property="upgradeLimit" />
        <result column="day_auto_upgrade_limit" property="dayAutoUpgradeLimit" />
        <result column="day_manual_upgrade_limit" property="dayManualUpgradeLimit" />
        <result column="lowest_version" property="lowestVersion" />
        <result column="highest_version" property="highestVersion" />
        <result column="upgrade_region_blacklist_flag" property="upgradeRegionBlacklistFlag" />
        <result column="mac_limit" property="macLimit" />
        <result column="upgrade_dno" property="upgradeDno" />
        <result column="upgrade_detection" property="upgradeDetection" />
        <result column="file_name" property="fileName" />
        <result column="url" property="url" />
        <result column="md5" property="md5" />
        <result column="created_on" property="createdOn" />
        <result column="changed_on" property="changedOn" />
        <result column="created_by" property="createdBy" />
        <result column="changed_by" property="changedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, model_id, real_version, show_version, update_description, status, upgrade_type, effect_on, upgrade_limit, day_auto_upgrade_limit, day_manual_upgrade_limit, lowest_version, highest_version, upgrade_region_blacklist_flag, mac_limit, upgrade_dno, upgrade_detection, file_name, url, md5, created_on, changed_on, created_by, changed_by
    </sql>

</mapper>
